{% extends "header.html" %}
{% from 'bootstrap/form.html' import render_form %}

{% block app_content %}
<div class="container">

  <div class="card bg-light mb-3" style="max-width: 50rem;">
    <div class="card-body">
      <h1>{{title}}</h1>
      <hr>
      {% if user_info %}
      <h4><i class="fa fa-tasks"></i> {{assignment_info.title}}</h4>
      <h4><i class="fa fa-user"></i> {{class_info.turma_label}}</h4>
      <br>
      <h4><i class="fa fa-id-badge"></i> {{user_info.student_number}} - {{user_info.username}}</h4>
      <a href="{{url_for('files.download', file_id = upload.id)}}" <button
        class="btn btn-sm btn-outline-primary">
        <i class="fa fa-download">
        </i> Download
        </button>
      </a>
      <hr>
      {% endif %}
      <form method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
        {{ render_form(form) }}
      </form>
      <br>

    </div>
  </div>


</div>
{% endblock %}