{{ bootstrap.load_css() }}

<!-- Custom fonts for this template -->
<link href="/static/bootstrap/css/flatly.min.css" rel="stylesheet">

<!-- The custom font numbers are not working properly, so use system fonts instead-->
<style>
        h1,
        body,
        p {
                font-family: "Open Sans", Calibri, Candara, Arial, sans-serif;
        }
</style>


<div class="row h-100 justify-content-center align-items-center">
        <img src="/static/app_logo_{{config.APP_NAME}}.png" width="20px" height="20px" class="" alt="">
</div>
<br>
<div class="row h-100 justify-content-center align-items-center">
        <h2>{{app_name}}</h2>
</div>
<div class="col">
        {% for assignment, user, turma, uploaded_assignments, uncomplete_assignments, assignment_task_filename, peer_review_form_title, students_in_class in assignment_info %}
        <h1>{{assignment.title}}
        </h1>
        {% endfor %}
</div>

<hr>
<br>
{% for assignment, user, turma, uploaded_assignments, uncomplete_assignments, assignment_task_filename, peer_review_form_title, students_in_class in assignment_info %}
<div class="card bg-light mb-3">
        <div class="card-body">
                <div class="container">
                        <div class="row">
                                <div class="col-12 col-lg-2 align-self-center">
                                        <h2 class="display-5">
                                                <span class="badge badge-secondary">
                                                        <i class="fa fa-file-upload ">
                                                        </i> {{uploaded_assignments|length}} /
                                                        {{students_in_class|length}}
                                                </span>
                                        </h2>
                                </div>
                                <div class="col-12 col-lg-10">
                                        <h3 class="text">
                                                <strong>
                                                        <i class="fa fa-users">
                                                        </i> {{turma.turma_label}}
                                                </strong>
                                        </h3>
                                        <ul class="list-inline">
                                                <li class="list-inline-item">
                                                        <i class="fa fa-calendar-check" aria-hidden="true">
                                                        </i> due on {{assignment.due_date}}
                                                </li>
                                                {% if peer_review_form_title %}
                                                <li class="list-inline-item">
                                                        <i class="fa fa-file" aria-hidden="true">
                                                        </i> {{peer_review_form_title}}
                                                </li>
                                                {% endif %}
                                                {% if assignment_task_filename %}
                                                <li class="list-inline-item">
                                                        <i class="fa fa-info-circle" aria-hidden="true">
                                                        </i> {{ assignment_task_filename}}
                                                </li>
                                                {% endif %}
                                        </ul>
                                        <em>{{assignment.description}}
                                        </em>
                                </div>
                        </div>
                </div>
        </div>
        {% endfor %}
</div>


<div class="container">
        <div class="table-responsive">
                <table summary="Student uploads for this task"
                        class="table table-responsive table-striped table-bordered table-hover table-sm">
                        <thead>
                                <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Upload</th>
                                        <th>Time</th>
                                        <th>Grade</th>
                                </tr>
                        </thead>
                        <tbody id="searchableTable">
                                {% for user in assignment_student_info %}
                                {% if user['upload'] %}
                                <tr data-status="uploaded">
                                        {% else %}
                                <tr data-status="not-uploaded">
                                        {% endif %}
                                        <td>{{user.student_number}}
                                        </td>
                                        <td>{{user.username}}
                                        </td>
                                        <td>{{user.upload.original_filename|truncate(40)|default('')}}
                                        </td>
                                        {% if user.upload.original_filename %}
                                        <td>{{user.upload.timestamp.strftime('%d %b %H:%M:%S')}}
                                        </td>
                                        {% else %}
                                        <td>
                                        </td>
                                        {% endif %}
                                        <td>
                                                {% if user.grade.grade is defined %}
                                                {{user.grade.grade}}
                                                {% else %}
                                                N/A
                                                {% endif %}
                                        </td>
                                </tr>
                                {% endfor %}
                        </tbody>
                        <tfoot>
                                <tr>
                                </tr>
                        </tfoot>
                </table>
        </div>
        <!--end of .table-responsive-->
</div>