{% extends "header.html" %}
{% block app_content %}

<style>
  @media only screen and (max-width: 800px) {

    .no-more-tables {
      padding: 0;
    }

    /* Force table to not be like tables anymore */
    .no-more-tables table,
    .no-more-tables thead,
    .no-more-tables tbody,
    .no-more-tables th,
    .no-more-tables td,
    .no-more-tables tr {
      display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .no-more-tables thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    .no-more-tables tr {
      margin-bottom: 10px;
      border: 1px solid #eee;
      border-radius: 10px;
    }

    .no-more-tables td {
      /* Behave  like a "row" */
      display: inline-block;
      border: none;
      position: relative;
      white-space: normal;
      text-align: left;
    }

    .no-more-tables td.actions {
      display: block;
    }

    .no-more-tables td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      text-align: left;
      font-weight: bold;
    }

    /*
	Label the data
	*/
    #no-more-tables td:before {
      content: attr(data-title);
    }
  }
</style>

<link rel="stylesheet" href="/static/css/form-control-borderless.css">
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-2">
      <a href="{{url_for('assignments.view_assignments')}}"><button class="btn btn-lg btn-light mb-4">
          <i class="fa fa-chevron-left">
          </i> Back
        </button>
      </a>

    </div>
    <div class="col-12 col-lg-10">
      {% for assignment, user, turma, uploaded_assignments, uncomplete_assignments, assignment_task_filename, peer_review_form_title, students_in_class in assignment_info %}
      <h3 class="text text-center mb-4"><strong>
          <i class="fa fa-thumbtack mr-2"></i>{{assignment.title}}
        </strong>
      </h3>
      {% endfor %}
    </div>
  </div>
  {% for assignment, user, turma, uploaded_assignments, uncomplete_assignments, assignment_task_filename, peer_review_form_title, students_in_class in assignment_info %}
  <div class="card bg-light mb-3">
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-12 col-xl-2 align-self-center">
            <h2 class="display-5">
              <span class="badge badge-secondary">
                <i class="fa fa-file-upload ">
                </i> {{uploaded_assignments|length}} / {{students_in_class|length}}
              </span>
            </h2>
          </div>
          <div class="col-12 col-xl-10">
            <ul class="list-inline">
              <strong>
                <li class="list-inline-item">
                  <i class="fa fa-users" aria-hidden="true">
                  </i> {{turma.turma_label}}
                </li>
                <li class="list-inline-item">
                  <i class="fa fa-calendar-check" aria-hidden="true">
                  </i> due on {{assignment.due_date}}
                </li>
                {% if peer_review_form_title %}
                <li class="list-inline-item">
                  <i class="fa fa-file" aria-hidden="true">
                  </i> {{peer_review_form_title}}
                </li>

                {% endif %}
                {% if assignment_task_filename %}
                <a href="{{url_for('assignments.download_assignment_file', assignment_id = assignment['id'])}}">
                  <li class="list-inline-item">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                    <button class="btn btn-outline-info btn-sm" title="{{assignment_task_filename}}">
                      <i class="fa fa-file-download">
                      </i> Download assignment handout
                    </button>
                  </li>
                </a>
                {% endif %}
              </strong>
            </ul>
            <em>{{assignment.description}}
            </em>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer float-right">
      <a href="{{url_for('assignments.download_assignment_uploads', assignment_id = assignment_id)}}"><button
          class="btn btn-outline-info m-1">
          <i class="fa fa-download">
          </i> Download all assignments
        </button>
      </a>


      <button type="button" class="btn btn-outline-primary dropdown-toggle m-1" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
        More
      </button>

      <div class="dropdown-menu turma-dropdown">
        <a class="dropdown-item" href="{{url_for('assignments.edit_assignment', assignment_id = assignment.id)}}"><i
            class="fa fa-edit mr-1">
          </i>Edit
        </a>

        <a class="dropdown-item" href="{{url_for('assignments.close_assignment', assignment_id = assignment.id)}}"> <i
            class="fa fa-lock mr-1">
          </i>Close assignment</a>

        <a class="dropdown-item" href="{{url_for('assignments.view_grades_pdf', assignment_id = assignment.id)}}"><i
            class="fa fa-star-half-alt mr-1">
          </i>Export grades to PDF</a>

        <div class="dropdown-divider"></div>

        <a class="dropdown-item" href="{{url_for('assignments.delete_assignment', assignment_id = assignment.id)}}"><i
            class="fa fa-trash-alt mr-1">
          </i>Delete</a>
      </div>

    </div>
  </div>
  {% endfor %}
  <div class="row justify-content-left mb-2">
    <div class="col-12 col-md-10 col-lg-8">
      <form class="card">
        <div class="card-body row no-gutters align-items-center">
          <div class="col-auto">
            <i class="fas fa-search h4 text-body">
            </i>
          </div>
          <!--end of col-->
          <div class="col">
            <input id="myInput" class="form-control form-control-lg form-control-borderless" type="search"
              placeholder="Search for students or uploads">
          </div>
          <!--end of col-->
        </div>
      </form>
    </div>
    <!--end of col-->
  </div>

  <div class="btn-group mb-3">
    <button type="button" class="btn btn-success btn-filter" data-target="uploaded">Uploaded
    </button>
    <button type="button" class="btn btn-warning btn-filter" data-target="not-uploaded">Not uploaded
    </button>
    <button type="button" class="btn btn-light btn-filter" data-target="all">All
    </button>
  </div>

  <div class="table-responsive no-more-tables">
    <table summary="Student uploads for this task"
      class="table table-responsive table-striped table-bordered table-hover table-sm">
      <thead class="thead">
        <tr>
          <th><i class="fa fa-id-card-alt"></i></th>
          <th><i class="fa fa-signature"></i></th>
          <th><i class="fa fa-file-upload"></i></th>
          <th><i class="fa fa-clock"></i></th>
          <th><i class="fa fa-comments"></i></th>
          <th><i class="fa fa-star-half-alt"></i></th>
          <th><i class="fa fa-tools"></i></th>
        </tr>
      </thead>
      <tbody id="searchableTable">
        {% for user in assignment_student_info %}
        {% if user['upload'] %}
        <tr data-status="uploaded">
          {% else %}
        <tr data-status="not-uploaded">
          {% endif %}
          <td><strong>{{user.student_number}}</strong>
          </td>
          <td><strong>{{user.username}}</strong>
          </td>
          <td>{{user.upload.original_filename|truncate(30)|default('')}}
          </td>
          {% if user.upload.original_filename %}
          <td>{{user.upload.timestamp.strftime('%d %b %H:%M:%S')}}
          </td>
          {% else %}
          <td>
          </td>
          {% endif %}
          <td>
            {% if user.upload.original_filename %}
            {% if user.comments|length > 0 %}
            <a href="{{url_for('files.view_comments', file_id = user.upload.id)}}"><button
                class="btn btn-sm btn-light m-1">
                <i class="fa fa-comment-alt">
                </i> {{user.comments|length}}
              </button>
            </a>
            {% else %}
            <a href=""><button class="btn btn-sm btn-light disabled m-1">
                <i class="fa fa-comment-alt">
                </i> {{user.comments|length}}
              </button>
            </a>
            {% endif %}
            {% endif %}
          </td>
          <td>
            {% if user.grade is defined and user.grade.grade is defined %}
            {{user.grade.grade}}
            {% elif user.upload.original_filename %}
            <a href="{{url_for('assignments.grade_assignment', upload_id = user.upload.id)}}"><button
                class="btn btn-sm btn-outline-info m-1">
                <i class="fa fa-star-half-alt">
                </i> Grade
              </button>
            </a>
            {% else %}

            {% endif %}
          </td>
          <td>
            {% if user.upload.original_filename %}
            <a class="downloadFile" href="{{url_for('files.download', file_id = user.upload.id)}}"><button
                class="btn btn-sm btn-outline-primary m-1">
                <i class="fa fa-download">
                </i> Download
              </button>
            </a>
            <a href="{{url_for('assignments.create_teacher_review', upload_id = user.upload.id)}}"><button
                class="btn btn-sm btn-outline-success m-1">
                <i class="fa fa-highlighter">
                </i> Review
              </button>
            </a>
            <a href="{{url_for('files.delete_file', upload_id = user.upload.id)}}"><button
                class="btn btn-sm btn-outline-danger m-1">
                <i class="fa fa-trash-alt">
                </i> Delete
              </button>
            </a>
            {% else %}
            <a href="{{url_for('files.upload_file', assignment_id = assignment_id, user_id = user.id)}}"><button
                class="btn btn-sm btn-block btn-outline-success">
                <i class="fa fa-user-check">
                </i> Submit for student
              </button>
            </a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
        </tr>
      </tfoot>
    </table>
  </div>
  <!--end of .table-responsive-->

  <script src="/static/js/sortable-table.js"></script>
  <script src="/static/js/lib/file-saver.js"></script>

  <script type="text/javascript">
    $(function () {

      // Function to either show a file in a share sheet or download it
      var jsDownloadOverride = function (href) {

        // Get the fileID from parsing the href
        var filename = '';
        var fileId = href.split('/').pop();

        // Obtain the filename by using the filename API
        fetch('/files/api/filename/' + fileId).then(res => res.json()).then(data => {
          filename = data.filename;
        }).then(

          // Download the file into a blob
          fetch(href)
          .then(function (response) {
            return response.blob()
          })
          .then(function (blob) {

            // Create a file out of the blob
            var file = new File([blob], filename, {
              type: 'application/octet-stream'
            });
            var filesArray = [file];

            // If we can share (i.e., iOS share card)
            if (navigator.canShare && navigator.canShare({
                files: filesArray
              })) {
              navigator.share({
                text: 'workUp.academy assignment' + filename,
                files: filesArray,
                title: filename,
                url: 'www.workup.academy'
              });
              // Otherwise, send it for normal download
            } else {
              saveAs(blob, filename);
            }
          })
        );
      };

      // Activate share override if iOS check is true
      $('.downloadFile').on('click', function (event) {
        if (checkIfIOS) {
          // Stop the default downloading mechanism
          event.preventDefault();
          event.stopImmediatePropagation();

          // Trigger the sharing mechanism
          jsDownloadOverride(event.delegateTarget.href);
        }
      });

      // Function to check if a user agent is iOS
      var checkIfIOS = function () {
        return [
            'iPad Simulator',
            'iPhone Simulator',
            'iPod Simulator',
            'iPad',
            'iPhone',
            'iPod'
          ].includes(navigator.platform)
          // iPad on iOS 13 detection
          ||
          (navigator.userAgent.includes("Mac") && "ontouchend" in document)
      };
    });
  </script>
  {% endblock %}